In [1]:
import os
import matplotlib.pyplot as plt
import cv2
import pandas as pd
import numpy as np

import pandas as pd
from func import rle

from imgaug.augmentables.segmaps import SegmentationMapsOnImage

In [2]:
ROOT = "./data"
seg_path = ROOT + "/train_ship_segmentations_v2.csv"

seg_df = pd.read_csv(seg_path).dropna().reset_index().drop('index', axis=1)
seg_df.head()

         ImageId                                      EncodedPixels
0  000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
1  000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
2  000194a2d.jpg  51834 9 52602 9 53370 9 54138 9 54906 9 55674 ...
3  000194a2d.jpg  198320 10 199088 10 199856 10 200624 10 201392...
4  000194a2d.jpg  55683 1 56451 1 57219 1 57987 1 58755 1 59523 ...

In [3]:
# convert EncodedPixels to boxPoints
obb_list = []
for row in seg_df.iterrows():
    rle_str = row[1]["EncodedPixels"]
    if pd.isna(rle):
        obb_list.append([row[1]["ImageId"], np.NaN])
        continue
    rle_mask = rle.rle_decode(rle_str)
    obb_list.append([row[1]["ImageId"], rle_mask])
    
obb_df = pd.DataFrame(obb_list, columns=["Img", "box"])
obb_df.head()

             Img                                                box
0  000155de5.jpg  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1  000194a2d.jpg  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
2  000194a2d.jpg  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
3  000194a2d.jpg  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
4  000194a2d.jpg  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...

In [4]:
obb_df.to_csv("mask_label.csv", index=False)